<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Pacientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body>
    <div class="container">
        <h1>Lista de Pacientes</h1>
        <ul>
            {% for paciente in pacientes %}
            <li>
                <a href="{{ url_for('detalhes_paciente', paciente_id=paciente.id) }}">
                    {{ paciente.nome }}
                </a>
            </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('home') }}">Voltar à página inicial</a>
    </div>
</body>
</html>
